.demo_detail_container{
    width: 60%;
    padding: 2rem 3rem;
    box-sizing: border-box;
    background: rgb(255,255,255);
    height: 100%;
    margin: 0 auto;

    .title{
        font-size: 2.1rem;
        color: #333;
        text-align: center;
        position: relative;
    }
    .back_icon{
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 50%;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border-top: 2px solid #757575;
        border-left: 2px solid #757575;
        transform-origin: center;
        transform: rotate(-45deg) translateY(-50%);
    }
}