.demo_detail_container{
    width: 90%;
    padding: 2rem 3rem;
    box-sizing: border-box;
    background: rgba(255,255,255,0.8);
    height: 100%;

    .container_title{
        border-bottom: 1px solid #c6c6c6;
        font-size: 2.1rem;
        color: #757575;
        padding: 0 0 1rem;
    }
    .left_arrow{
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        border-top: 2px solid #757575;
        border-right: 2px solid #757575;
        transform: rotate(-135deg);
        margin-right: 1rem;
    }
}