.projects_container {
    width: 60%;
    min-height: 100%;
    padding: 2rem 5rem;
    box-sizing: border-box;
    margin: 0 auto;
    // overflow-y: scroll;
    background-color: #0099cc;

    .project_item {
        width: 100%;
        height: 15rem;
        background-color: #fff;
        margin-bottom: 2rem;
        border-radius: 0.5rem;
        padding: 1rem;
        box-sizing: border-box;
    }
    .screenshots {
        width: 100%;
        height: 100%;
        background-color: #eee;
    }
    .box_c {
        border-right: 1px solid #ccc;
        padding: 0 0.5rem;
        box-sizing: border-box;
        .name {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }

        .desc {
            margin: 1rem 0;
        }
        .date {
            text-align: right;
        }

        .tag {
            background-color: rgb(219, 98, 77);
            margin-right: 1rem;
            color: #fff;
            padding: 1px 5px;
            border-radius: 5%;
            
        }
    }
    .box_r {
        .btn {
            width: 8rem;
            height: 3rem;
            line-height: 3rem;
            border: 1px solid #ccc;
            text-align: center;
            border-radius: 1.5rem;
            &:first-child {
                margin-bottom: 1rem;
            }
        }
    }
}