@font-face {
  font-family: "iconfont"; /* Project id 2304099 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1657351028658') format('woff2'),
       url('iconfont.woff?t=1657351028658') format('woff'),
       url('iconfont.ttf?t=1657351028658') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rukou:before {
  content: "\e668";
}

.icon-entrance:before {
  content: "\ea0b";
}

.icon-volume:before {
  content: "\e629";
}

.icon-play:before {
  content: "\e87c";
}

.icon-pause:before {
  content: "\e619";
}

.icon-prev:before {
  content: "\e603";
}

.icon-next:before {
  content: "\e602";
}

.icon-email:before {
  content: "\e684";
}

.icon-cnblogs:before {
  content: "\e64d";
}

.icon-github:before {
  content: "\ea0a";
}

.icon-site:before {
  content: "\e67b";
}

