.todolist_container{
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}
.title{
    text-align: center;
}

.todo_item{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.filter_box{
    margin: 10px 0;
    .current_filter_item{
        color: red;
    }
    .filter_item{
        font-size: 14px;
    }
}