.demo_list_container {
  width: 60%;
  height: 100%;
  padding: 2rem 0;
  box-sizing: border-box;
  margin: 0 auto;

  .demo_list {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 5% 5%;
  }
  .demo_item {
    font-size: 1.6rem;
    background-color: #fff;

    .header {
      width: 100%;
      background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
      height: 15rem;
      position: relative;
      .development {
        position: absolute;
        font-size: 1.4rem;
        top: 50%;
        left: 50%;
        background: #ff9900;
        color: #fff;
        padding: 1rem;
        border-radius: 5px;
        margin-left: 1rem;
        transform: translate(-50%, -50%);
      }
      .view_btn {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 1rem;
        text-align: center;
        display: inline-block;
        color: #fff;
        font-size: 1.4rem;
        transform: translate(-50%, -50%);
        border: 1px solid #fff;
        border-radius: 5px;
      }
    }

    .date {
      font-size: 1.2rem;
      font-family: sans-serif;
      text-align: right;
      height: 3rem;
      line-height: 3rem;
      color: #333;
    }

    .info {
      padding: 1.5rem;
    }
    .name {
      font-size: 1.6rem;
      display: flex;
      align-items: center;
    }
    .tags_list {
      color: #fff;
      margin-top: 1rem;
      font-size: 1.2rem;
      .tags_item {
        padding: 0.2rem 0.5rem;
        background-color: #666;
        margin-right: 1rem;
      }
    }
    .desc {
      margin-top: 1rem;
      font-size: 1.3rem;
      color: #888;
    }
  }
}
