.clock_container {
    width: 300px;
    height: 90px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 50px auto;

    .normal {
        height: 30px;
        line-height: 30px;
        height: 30px;
        font-size: 2.5rem;
        color: #999;
    }
    .current {
        height: 30px;
        line-height: 30px;
        color: #4e9bf5;
        font-size: 2.5rem;
    }
    .clock_item {
        display: flex;
        width: 30px;
        justify-content: center;
        transition: margin-top 0.5s;
    }
    .clock_item:nth-child(2) {
        position: relative;
        margin-right: 30px;
    }
    .clock_item:nth-child(4) {
        margin-right: 20px;
    }
    .clock_item:nth-child(2):after {
        content: ":";
        font-size: 3rem;
        color: #4e9bf5;
        position: absolute;
        top: 8.6rem;
        right: -1.5rem;
        line-height: 30px;
        height: 30px;
    }

    .clock_item:nth-child(2):before {
        content: ":";
        font-size: 3rem;
        color: #4e9bf5;
        position: absolute;
        top: 8.6rem;
        right: -10.5rem;
        line-height: 30px;
        height: 30px;
    }
}
