.top_nav{
    display: flex;
    width: 80%;
    margin: 0 auto;
    background: #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.nav_item{
    font-size: 24px;
    color: #fff;
    margin-right: 20px;
}

.nav_item_selected{
    color: #000 !important;
}