.music_container {
	width: 480px;
	height: 420px;
	margin: 100px auto;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .header {
        height: 30px;
        background-color: red;
        color: #fff;
        line-height: 30px;
        text-align: center;
        font-size: 16px;
    }
    .content {
        flex: 1;
        text-align: center;
    }
    .footer {
        height: 90px;
        background-color: #ccc;
        font-size: 13px;
        .music_info {
            display: flex;
            justify-content: space-between;
            padding: 5px 20px;
        }
        .progress {
            margin: 0 20px;
            height: 6px;
            background-color: #fff;
            border-radius: 3px;
            .currentPro{
                height: 6px;
                width: 0;
                background-color:#888;
                border-radius: 3px;
            } 
        }
        .controls {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .switch {
                font-size:45px;
                line-height:50px;
                text-align:center;
                cursor:pointer;
                margin: 0 30px;
            }
            .prev{
                font-size:20px;
                line-height:35px;
                text-align:center;
                cursor:pointer;
            }
            .next{
                font-size:20px;
                line-height:35px;
                text-align:center;
                cursor:pointer;
            }
            .volume{
                position: absolute;
                height: 30px;
                right: 20px;
                top: 50%;
                margin-top: -15px;
                /* background-color:red; */
            }
            .volume {
                display: flex;
                justify-content: space-between;
                .volume_icon{
                    height:30px;
                    line-height:30px;
                    width:30px;
                    font-size:20px;
                    cursor:pointer;
                }
                .volume_range{
                    width: 80px;
                }
            }
        }
    }

}

@keyframes move{
	0%{
		transform: translate(0px);
	}
	100%{
		transform: translate(-2400px);
	}
}

