.home{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 1.6rem;
    background-color: #0099CC;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-weight: bold;

    .coin_box {
      width: 120px;
      height: 120px;
      perspective: 800;
      transition: all 1s linear;
      transform-style: preserve-3d;
      animation: rotate-y 6s ease-in-out infinite;
      position: relative;
      cursor: pointer;

      .coin_front, .coin_back {
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background-color: #a3daff;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
      }

      .coin_back {
        text-align: center;
        line-height: 120px;
        transform: rotateY(180deg);
      }
    }

    .nav_list {
      display: flex;
      opacity: 1;
      margin-top: 80px;
      color: #888;
      .nav_item {
        width: 50px;
        height: 50px;
        line-height: 50px;
        transition: all 0.5s;
        position: relative;
        
        &:nth-child(2){
          margin: 0 60px;
        }

        .nav_label {
          position: absolute;
          text-align: center;
          left: 50%;
          transform: translateX(-50%);
          z-index: 10;
        }
        
        &::before {
          content: "";
          width: 50px;
          height: 50px;
          display: block;
          background-color: #a3daff;
          transform-origin: 50% 50%;
          transform: rotate(45deg);
          position: absolute;
          z-index: 2;
        }
        &::after {
          content: "";
          width: 44px;
          height: 3px;
          display: block;
          background-color: #eaeaea;
          position: absolute;
          z-index: 1;
          top: 80px;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 100%;
        }

        &:hover {
          &::before {
            animation: bounce1 0.8s ease-in-out infinite;
          }

          .nav_label {
            animation: bounce2 0.8s ease-in-out infinite;
          }

          &::after {
            animation: shadow 0.8s ease-in-out infinite;
          }
        }
      }
    }
}
  
@keyframes bounce1 {
  0% { 
    top: 0; 
    transform: rotate(90deg);
  }
  50% { 
    top: 30px; 
    transform: rotate(45deg);
    border-bottom-right-radius:  20px; 
  }
  100% { 
    top: 0; 
    transform: rotate(0deg);
  }  
} 
@keyframes bounce2 {
  0% { 
    top: 0; 
  }
  50% { 
    top: 30px; 
    border-bottom-right-radius:  20px; 
  }
  100% { 
    top: 0; 
  }  
} 

@keyframes shadow {
  0%, 100% {
    left: 50%;
    width: 44px;
    background:#eaeaea;
  }
  50% {
    top: 78px;
    left: 50%;   /*讓陰影保持在原位*/
    width: 50px;
    height: 7px;
    background:#eee;
  }
}

@keyframes rotate-y {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}