.topics_container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    .topics_nav {
        background: #ccc;
        padding: 10px;
        height: 300px;
        border-radius: 5px;
        margin-top: 10px;
    }
    .topics_nav_item{
        margin-bottom: 10px;
        color: #fff;
    }

    .topic_content{
        margin-top: 10px;
        padding: 0 10px;
    }

    .selected{
        color: #000;
    }
}