$bg-color: #b7d4a8;

.main {
  font: bold 20px "Courier";
  width: 360px;
  height: 420px;
  background-color: $bg-color;
  border: 10px solid black;
  border-radius: 40px;
  margin: 3rem auto 0;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;

  // 游戏舞台
  .stage {
    width: 304px;
    height: 304px;
    border: 2px solid black;
    position: relative;

    .game_status {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.2);
      padding: 20px;
      border-radius: 5px;
      font-size: 20px;
      white-space: nowrap;
    }

    // 设置蛇的样式
    .snake {
      &_item {
        width: 10px;
        height: 10px;
        background-color: #000;
        border: 1px solid $bg-color;
        position: absolute;
      }
    }

    // 设置食物
    .food {
      width: 10px;
      height: 10px;
      position: absolute;
      // 初始化一个位置
      left: 40px;
      top: 100px;

      display: flex;
      // 设置横轴为主轴，wrap表示会自动换行
      flex-flow: row wrap;

      // 设置主轴和侧轴的空白空间分配到元素之间
      justify-content: space-between;
      align-content: space-between;

      & > div {
        width: 4px;
        height: 4px;
        background-color: black;

        // 使四个div旋转45度
        transform: rotate(45deg);
      }
    }
  }

  // 记分牌
  .scorePanel {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
}

.introduce_container {
  width: 160px;
  margin: 20px auto 0;

  .title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }

  .usage {
    text-align: center;
  }

  .label {
    display: inline-block;
    width: 80px;
    font-weight: bold;
    text-align: right;
  }
}
