.about_me_container {
    width: 70%;
    box-sizing: border-box;
    padding: 2rem 5rem;
    background-color: #0099cc;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    gap: 4% 2%;

    .about_item {
        background-color: #fff;
        height: 25rem;
        line-height: 25rem;
        border-radius: 2%;
        text-align: center;
        font-size: 1.8rem;
        &:nth-child(2), &:nth-child(3) {
            background-color: #000;
            a {
                color: #fff;
            }
        }
    }
}