.demo_list_container{
    width: 100%;
    min-height: 100%;
    padding: 2rem 5rem;
    box-sizing: border-box;
    background: rgba(5, 139, 228, 0.8);

    .container_title{
        font-size: 2.1rem;
        padding: 0 0 1rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .demo_list {
        display: grid;
        grid-template-columns: repeat(4, 23.5%);
        gap: 4% 2%;
    }
    .demo_item{
        font-size: 1.6rem;
        background-color: #fff;
        font-family: serif;

        .header {
            width: 100%;
            background-color: #000;
            height: 15rem;
            position: relative;
            .development{
                position: absolute;
                font-size: 1.4rem;
                top: 50%;
                left: 50%;
                background: red;
                color: #fff;
                padding: 1rem;
                border-radius: 5px;
                margin-left: 1rem;
                transform: translate(-50%,-50%);
            }
            .view_btn{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 4rem;
                height: 4rem;
                line-height: 4rem;
                text-align: center;
                display: inline-block;
                color: #fff;
                font-size: 1.4rem;
                transform: translate(-50%,-50%);
                border: 1px solid #fff;
                border-radius: 50%;
            }
        }

        .date{
            font: bold 1.3rem fantasy;
            text-align: right;
            height: 3rem;
            line-height: 3rem;
            position: relative;
        }

        .info{
            padding: 1.5rem;
        }
        .name{
            display: flex;
            align-items: center;
        }
        .tags_list{
            color: #fff;
            margin-top: 1rem;
            font-size: 1.2rem;
            .tags_item{
                padding: 0.2rem 0.5rem;
                background-color: rgb(247, 25, 9);
                margin-right: 1rem;
            }
        }
        .desc{
            margin-top: 1rem;
            font-size: 1.4rem;
        }
    }   
}