.clockContainer{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    
    .clock_border{
        width: 25rem;
        height: 25rem;
        border: 10px solid #000;
        border-radius: 50%;
        position: relative;

        .clock_mark, .clock_mark_hightlight{
            width: 5.24%;
            height: 50%;
            box-sizing: border-box;
            position: absolute;
            left: 50%;
            bottom: 50%;
            margin-left: -2.62%;
            box-sizing: border-box;
            transform-origin: bottom;
            text-align: center;
            font-size: 2rem;
        }
        .clock_mark::after{
            content: "";
            width: 2px;
            height: 6px;
            display: inline-block;
            position: absolute;
            top: 2px;
            left: 50%;
            margin-left: -1px;
            background: #000;
        }

        .clock_mark_hightlight::after{
            content: "";
            width: 4px;
            height: 12px;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -2px;
            background: #000;
            border-radius: 1000px;
        }
        .clock_num{
            font-size: 2rem;
            position: absolute;
            top: 10px;
            width: 20px;
            left: 50%;
            margin-left: -10px;
        }

        .hour_hand{
            height: 25%;
            width: 6px;
            background: #000;
            position: absolute;
            top: 25%;
            left: 50%;
            margin-left: -3px;
            transform-origin: 50% 100%;
            border-radius: 1000px;
        }
        .minute_hand{
            height: 45%;
            width: 4px;
            background: #000;
            position: absolute;
            top: 5%;
            left: 50%;
            margin-left: -2px;
            // transform: rotate(90deg);
            transform-origin: 50% 100%;
            border-radius: 1000px;
        }
        .second_hand{
            // height: 45%;
            // width: 2px;
            // background: #f2a534;
            // position: absolute;
            // top: 10%;
            // left: 50%;
            // margin-left: -1px;
            // transform-origin: 50% 88.9%;
            // border-radius: 1000px;
            height: 50%;
            width: 2px;
            background: #f2a534;
            position: absolute;
            // top: 4px;
            left: 50%;
            margin-left: -1px;
            transform-origin: 50% 100%;
            border-radius: 1000px;
        }
        .pointerCenter {
            background-color: #f2a534;
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .normal{
        transform: rotate(-90deg);
        color: #999;
        transition: all .5s ease-in;
    }
    .current{
        color: #4e9bf5;
        font-size: 2.5rem;
        transition: all .5s ease-in-out;
    }
    .clock_item{
        display: flex;
        padding: 0 10px;
        width: 30px;
        justify-content: center;
    }
    .clock_item:nth-child(2), .clock_item:nth-child(4){
        position: relative;
        padding-right: 20px;
    }
    .clock_item:nth-child(2)::after, .clock_item:nth-child(4)::after {
        content: ":";
        font-size: 3rem;
        color: #4e9bf5;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 1;
    }
    
}