.projectsContainer {
    min-height: 100%;
    padding: 2rem 5rem;
    box-sizing: border-box;
    margin: 0 auto;

    .project_item {
        width: 100%;
        background-color: #fff;
        margin-bottom: 2rem;
        border-radius: 0.8rem;
        padding: 2rem;
        box-sizing: border-box;
    }
    .cover {
        width: 20rem;
        height: 15rem;
        object-fit: contain;
    }
    .box_r {
        padding: 0 1rem;
        box-sizing: border-box;
        .name {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }

        .desc {
            margin: 1rem 0;
            font-size: 1.3rem;
        }

        .tag {
            // background-color: rgb(219, 98, 77);
            background-color: rgb(232, 92, 143);
            margin-right: 1rem;
            color: #fff;
            padding: 0 0.8rem;
            border-radius: 5%;
            height: 2rem;
            line-height: 2rem;
            font-size: 1.2rem;
        }

        .btn:first-child {
            margin-right: 1.5rem;
        }
    }
}
