html{
  height: 100%;
  font-size: 10px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root{
  height: 100%;
  min-height: 100%;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a,a:hover,a:active,a:visited,a:link,a:focus{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  outline:none;
  // background: none;
  text-decoration: none;
  color: #000;
}

.flex-box {
  display: flex;
}

.flex-box-column {
  display: flex;
  flex-direction: column;
}

.flex-box-h-center {
  justify-content: center;
}

.flex-box-h-between {
  justify-content: space-between;
}

.flex-box-h-end {
  justify-content: flex-end;
}

.flex-box-h-around {
  justify-content: space-around;
}

.flex-box-v-center {
  align-items: center;
}

.flex-item-2 {
  flex: 2;
}

.flex-item-1 {
  flex: 1;
}