.music_container {
    width: 580px;
    height: 480px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #292929;
    .header {
        height: 40px;
        background-color: #282828;
        color: #fff;
        font-size: 1.4rem;
        border-bottom: 1px solid #8b1313;
        padding-left: 1rem;

        .logo {
            font-size: 2rem;
            margin-right: 0.5rem;
        }
    }
    .content {
        flex: 1;
        display: flex;
        height: 0;
        overflow-y: hidden;
        .disc {
            flex: 1;
            .disc_outer {
                background: #18191b;
                border: 8px solid #353535;
                width: 180px;
                height: 180px;
                border-radius: 50%;
            }
            .disc_inner {
                border: 4px solid #202022;
                width: 100px;
                height: 100px;
                background: #fff;
                border-radius: 50%;
                overflow: hidden;
            }
            .cover_img_rotate {
                width: 100%;
                height: 100%;
                animation: rotate 20s linear infinite;
                animation-play-state: running;

                &_paused {
                    animation-play-state: paused;
                }
            }
        }
        .lyric {
            flex: 1;
            text-align: center;
            position: relative;
            animation: all 2s;
            .lyric_text {
                color: #999;
                line-height: 1.8;
                font-size: 1.4rem;
                margin-bottom: 0;
                &_current {
                    color: #fff;
                    font-size: 1.6rem;
                }
            }
        }
    }
    .footer {
        color: #fff;
        font-size: 13px;
        background-color: #212124;
        .music_info {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
        }
        .progress {
            margin: 0 16px;
        }
        .controls {
            position: relative;
            .switch {
                font-size: 35px;
                line-height: 50px;
                text-align: center;
                cursor: pointer;
                margin: 0 30px;
                color: #d33a31;
            }
            .prev {
                font-size: 20px;
                line-height: 35px;
                text-align: center;
                cursor: pointer;
                color: #d33a31;
            }
            .next {
                font-size: 20px;
                line-height: 35px;
                text-align: center;
                cursor: pointer;
                color: #d33a31;
            }
            .volume {
                position: absolute;
                height: 30px;
                right: 20px;
                top: 50%;
                margin-top: -15px;
                color: #d33a31;
                &_icon {
                    height: 30px;
                    line-height: 30px;
                    width: 30px;
                    font-size: 20px;
                    cursor: pointer;
                }

                &_controls {
                    position: absolute;
                    top: -40px;
                    left: 50%;
                    height: 90px;
                    padding: 7px 0 15px;
                    transform: translate(-50%, -50%);
                    background-color: #333;
                    border-radius: 5px;
                }
            }
        }
    }

    .flex_center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes move {
    0% {
        transform: translate(0px);
    }
    100% {
        transform: translate(-2400px);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
